* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  display: flex;
  color: #555;
}

h3 {
  color: #0a0;
}

strong {
  color: #00a;
}

aside {
  background-color: #555;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

aside .fechar-menu {
  display: none;
  background-color: #fff;
  color: #a00;
  transition: all 0.3s ease;
}

aside .fechar-menu:hover {
  background-color: #a00;
  color: #fff;
}

aside a {
  text-decoration: none;
  padding: 0.8em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

aside a:hover {
  background-color: #fff;
  color: #555;
}

main {
  flex: 1;
  padding: 0.5em;
  overflow: auto;
}

main header {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main header h2 {
  text-align: center;
}

main header .fa-bars {
  display: none;
  font-size: 1.8em;
  position: absolute;
  left: 0.5em;
}

main section {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main .audios audio {
  width: 100%;
  height: 2em;
}

main section p {
  text-align: justify;
}

main section ol,
main section ul {
  padding: 0.8em 0.5em;
}

@media (max-width: 900px) {
  aside {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 2px 0 6px 2px rgba(0, 0, 0, 0.3);
  }

  aside .fechar-menu {
    display: inline-block;
  }

  main header .fa-bars {
    display: inline-block;
    cursor: pointer;
  }
}

@media (max-width: 820px) {
  main header h2,
  main header h3 {
    visibility: hidden;
  }
}
