body {
  display: flex;
  color: #555;
}

aside {
  background-color: #555;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 280px;
}

aside .fechar-menu {
  display: none;
  background-color: #fff;
  color: #900;
  transition: all 0.3s ease;
}

aside .fechar-menu:hover {
  background-color: #900;
  color: #fff;
}

aside a {
  text-decoration: none;
  padding: 0.8em;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

aside a:hover {
  background-color: #fff;
  color: #555;
}

main {
  flex: 1;
  padding: 0.5em;
}

main header {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main header h2 {
  text-align: center;
}

main header .fa-bars {
  display: none;
  font-size: 1.8em;
  position: absolute;
  left: 0.5em;
}

main section {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main section p {
  text-align: justify;
}

@media (max-width: 900px) {
  aside {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 2px 0 6px 2px rgba(0, 0, 0, 0.3);
  }

  aside .fechar-menu {
    display: inline-block;
  }

  main header .fa-bars {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  main header h2 {
    visibility: hidden;
  }
}
